li{
    display: inline-block;
    text-decoration: none;
}

.active{
    background-color: rgb(21, 175, 253);
    width: 120px;
    border-radius: 4px;
}

.card{
    width: 380px;
    height: 500px;
    background-color: rgb(105, 105, 218);
    border-radius: 16px;
    padding: 40px;
}

.order{
    justify-self: center;
    margin-left: 90px;
    margin-top: 100px;
    width: 300px;
    background-color: white;